# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**
* popular languages for Data Science
* popular library for Data Science
* popular Tools for Data Science

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|------|
|MySQL|
|Apache AirFlow|
|Pixie Dust|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min=200 
h=min/60
print("Hours=",h)

Hours= 3.3333333333333335

## Author:
Shahad Abdulmoen Alzaidi